<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Registro</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

</head>

<body class="text-center">

    <main class="form-signin w-100 m-auto">
        <form action="/register" method="POST">
            <h1 class="h3 mb-3 fw-normal">Registro</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="Usuario" name="Usuario" placeholder="Usuario">
                <label for="Usuario">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="Nombre" class="form-control" id="Nombre" name="Nombre" placeholder="Password">
                <label for="Nombre">nombre completo</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="Pass" name="Pass" placeholder="Password">
                <label for="Pass">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar</button>
            <a href="/" type="button" class="w-100 btn btn-lg btn-secondary">Cancelar</a>
        </form>
    </main>


</body>

</html>